*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#game{

    margin: auto;
    width: 400px;
}

#score-time-container, #button-container{
    display: flex;
    justify-content: center;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    margin: 1rem 0;
    width: 100%;
}

#score-time-container > h3 {

    width: 50%;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 1rem 0;
}

#score, #time{
    display: inline-block;
    width: 1rem;
}

#moles{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.mole{
    width: 50px;
    height: 50px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two{
    display: flex;
}
.four{
    display: flex;
}
.six{
    display: flex;
}

#start{
    width: 100px;
    background-color: transparent;
    border-style: none;
    margin: 1rem 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

